
# Put only whitelisted things in the Docker build context.
# First remove everything:
*

# Now explicitly add the source code, Cargo files and readme:
!ci/extra_checks.sh
!Cargo.toml
!rustfmt.toml
!deny.toml
!.cargo/
!src/
!README.rst
!LICENSE.txt
